extends ../layouts/auth

block content

  .auth-container

    .auth-card

      .text-center.mb-4

        img(src="/images/fotaza-logo-1.png" width = "50px")

        h2.mt-3
          | Crear cuenta

        p.text-muted
          | Unite a Fotaza


      form(action= "/auth/register", method="post")

        .mb-3

          input.form-control.auth-input(type="text", name="username", placeholder="Nombre de usuario")

        .mb-3

          input.form-control.auth-input(type="text", name="name", placeholder="Nombre")

        .mb-3

          input.form-control.auth-input(type="text", name="lastName", placeholder="Apellido")

        .mb-3

          input.form-control.auth-input(type="email", name="email", placeholder="Correo electrónico")

        .mb-4

          input.form-control.auth-input(type="password", name="password", placeholder="Contraseña")

        button.btn.auth-btn.w-100(type="submit")
          | Registrarse


      .text-center.mt-4

        span.text-muted
          | ¿Ya tienes cuenta?

        a.ms-2.auth-link(href="/auth/login")
          | Inicia sesión