.sidebar

  .sidebar-top

    a.logo(href="/")

      img(src="/images/fotaza-logo-1.png" width = "50px")

  .sidebar-menu

    a.sidebar-link.active(href="/")
      i.bi.bi-house-fill

    a.sidebar-link(href="#")
      i.bi.bi-exclamation-circle

    a.sidebar-link(href="#")
      i.bi.bi-people

    a.sidebar-link(href="#")
      i.bi.bi-person-slash  

  .sidebar-bottom

    a.sidebar-link(href="#")
      i.bi.bi-gear