a.article-card-link(href=`/usuario/publicaciones/${pub.id}`)
    .article-card

        if pub.imagenBase64

            img.card-image(
                src=pub.imagenBase64,
                alt=pub.titulo
            )

        .card-info