header.topbar

  form.search-container

    i.bi.bi-search.search-icon

    input.search-input(type="search",placeholder="Buscar...")

  .user-menu

    if usuario
    img.user-avatar(
        src=usuario.avatar || "/images/default-avatar.png",
        alt="avatar"
    )