header.topbar

  form.search-container

    i.bi.bi-search.search-icon

    input.search-input(type="search",placeholder="Buscar...")

  .user-menu

    img.user-avatar(src=usuario.avatar, alt="avatar")