# Entorno: "development" en local, "production" en Render
NODE_ENV=development

PORT=

DB_HOST=
DB_PORT=
DB_NAME=fotaza
DB_USER=postgres
DB_PASSWORD=tu_password_aqui

SESSION_SECRET=cambia_esto_por_un_secreto_seguro
