extends layout

block content
  h1 Bienvenido a Fotaza 
  p Plataforma para compartir imágenes y videos

  .row.mt-4
    .col-md-6
      a.btn.btn-primary(href="/login") Iniciar sesión
    .col-md-6
      a.btn.btn-success(href="/register") Registrarse