/* Home */
body{
    margin: 0;
    background-color: #F8F8F4;
    font-family: sans-serif;
}

.main-layout{
    display: flex;
}

.main-content{
    margin-left: 90px;
    width: 100%;
}

/* Sidebar */
.sidebar{
    width: 90px;
    height: 100vh;
    position: fixed;
    background-color: white;
    border-right: 1px solid #eaeaea;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    z-index: 1000;
}

.logo{
    font-size: 30px;
    color: #636B2F;
}

.sidebar-menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sidebar-link{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #444;
    font-size: 22px;
    transition: 0.2s ease;
}

.sidebar-link:hover{
    background-color: #636B2F;
    color: white;
}

.sidebar-link.active{
    background-color: #636B2F;
    color: white;
}

/* Topbar */
.topbar{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-container{
    width: 100%;
    max-width: 1400px;
    position: relative;
}

.search-input{
    width: 95%;
    border: none;
    background-color: #ECECE8;
    padding: 16px 20px 16px 50px;
    border-radius: 20px;
    outline: none;
}

.search-icon{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #666;
}

.user-avatar{
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.content-area{
    padding: 0 30px 30px 30px;
}

/* PinCard */
.public-grid{
    column-count: 4;
    column-gap: 20px;
}

.article-card-link{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

.article-card{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    background: white;
    transition: transform .2s ease;
}

.article-card:hover{
    transform: scale(1.02);
}

.card-image{
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.card-overlay{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 15px;
    color: white;
    background: linear-gradient(
        to top,
        rgba(0,0,0,.8),
        rgba(0,0,0,0)
    );
    opacity: 0;
    transition: opacity .25s ease;
}

.article-card:hover .card-overlay{
    opacity: 1;
}

/* Perfil */
.profile-card{
    border: none;
    border-radius: 25px;
}

.profile-header{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.profile-avatar img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.profile-info{
    flex: 1;
}

.profile-stats{
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.stat{
    text-align: center;
}

.stat h4{
    margin: 0;
    font-weight: 700;
}

.stat span{
    color: #666;
    font-size: 14px;
}


/* Footer */
.footer{
    margin-top: 80px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer-info{
    color: #777;
    font-size: 15px;
    align-items: center;
}

.footer-info span{
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Auth */
.auth-body{
    background-color: #F8F8F4;
}

.auth-container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-card{
    width: 100%;
    max-width: 420px;
    background-color: white;
    padding: 40px;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.05);
}

.auth-logo{
    font-size: 50px;
    color: #636B2F;
}

.auth-input{
    border-radius: 15px;
    padding: 14px;
    background-color: #F3F3EF;
    border: none;
}

.auth-input:focus{
    box-shadow: none;
    background-color: #ECECE8;
}

.auth-btn{
    background-color: #636B2F;
    color: white;
    border-radius: 15px;
    padding: 14px;
}

.auth-btn:hover{
    background-color: #7A8440;
    color: white;
}

.auth-link{
    color: #636B2F;
    text-decoration: none;
    font-weight: 600;
}


/* Landing */

.landing-page{
    min-height: 100vh;
    background-color: whitesmoke;
    color: #636B2F;
    padding: 10px 20px;
}

.landing-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-btn{
    border: 2px solid #636B2F;
    color: #636B2F;
    font-weight: 600;
    transition: 0.2s ease;
}

.login-btn:hover{
    background-color: #636B2F;
    color: whitesmoke;
}

.register-btn{
    background-color: #636B2F;
    color: whitesmoke;
    font-weight: 600;
    transition: 0.2s ease;
}

.register-btn:hover{
    background-color: #7A8440;
    color: white;
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 30px;
    font-weight: bold;
}

.hero-section{
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.hero-content{
    max-width: 600px;
}

.hero-content h1{
    font-size: 80px;
    font-weight: 800;
    line-height: 1.1;
}

.hero-content span{
    color: #a9b185;
}

.hero-content p{
    margin-top: 20px;
    font-size: 20px;
    opacity: 0.9;
}

.hero-btn{
    margin-top: 30px;
    background-color:#636B2F;
    color: whitesmoke;
    border-radius: 20px;
    padding: 15px 30px;
    font-weight: bold;
}

.hero-gallery{
    display: flex;
    gap: 20px;
}

.hero-gallery img{
    width: 220px;
    border-radius: 30px;
    object-fit: cover;
}

.hero-gallery img:nth-child(2){
    margin-top: 80px;
}

.hero-gallery img:nth-child(3){
    margin-top: 160px;
}

/* Publicaciones */
.publication-container{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:40px;
}

.publication-image img{
    width:100%;
    border-radius:20px;
}

.publication-info{
    background:white;
    border-radius:20px;
    padding:25px;
}

.rating-container{
    display:flex;
    gap:5px;
    flex-wrap:wrap;
}

.comment{
    margin-top:15px;
    padding:10px;
    border-bottom:1px solid #ddd;
}

.btn-outline-success {
    border: none;
}

.btn-primary {
    background-color: #636B2F;
    border: #636B2F;
}

.btn-primary:hover {
    background-color: #898b79;
    border: #898b79;
}

/* Alertas */
.alert{
  position: absolute;
  z-index: 1;
  bottom: 20px;
  right: 10px;
  padding: 15px;
  border-radius: 4px;
}

.alert p {
  text-align: center;
}

.alert.success{
  background-color: #4CAF50;
  color: white;
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}

.alert.error{
  background-color: #b24242;
  color: white;
  box-shadow: 0 0 10px rgba(175, 76, 76, 0.5);
}

/* Responsive */

@media (max-width: 1200px){

    .hero-content h1{
        font-size: 65px;
    }

    .hero-gallery img{
        width: 180px;
    }

    .public-grid{
        column-count: 3;
    }

}


@media (max-width: 992px){

    .hero-section{
        flex-direction: column;
        text-align: center;
    }

    .hero-content{
        max-width: 100%;
    }

    .hero-gallery{
        justify-content: center;
        flex-wrap: wrap;
    }

    .hero-gallery img:nth-child(2),
    .hero-gallery img:nth-child(3){
        margin-top: 0;
    }

}


@media (max-width: 768px){

    .landing-page{
        padding: 20px;
    }

    .landing-navbar{
        flex-direction: column;
        gap: 20px;
    }

    .hero-section{
        margin-top: 50px;
    }

    .hero-content h1{
        font-size: 50px;
    }

    .hero-content p{
        font-size: 18px;
    }

    .hero-gallery{
        margin-top: 30px;
    }

    .hero-gallery img{
        width: 140px;
    }

    .public-grid{
        column-count: 2;
    }

    .profile-header{
        flex-direction: column;
        text-align: center;
    }

    .profile-stats{
        justify-content: center;
    }

}


@media (max-width: 576px){

    .hero-content h1{
        font-size: 40px;
    }

    .hero-gallery{
        gap: 10px;
    }

    .hero-gallery img{
        width: 100px;
        border-radius: 20px;
    }

    .landing-buttons{
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
    }

    .public-grid{
        column-count: 1;
    }

}