extends ../layouts/auth

block content

  .landing-page

    nav.landing-navbar

      .logo-container

        img(src="/images/fotaza-logo-1.png" width = "50px")

        span Fotaza

      .landing-buttons.d-flex.gap-3

        a.btn.login-btn.rounded-pill.px-4(href="auth/login")
          | Iniciar sesion

        a.btn.register-btn.rounded-pill.px-4(href="auth/register")
          | Registrarse

    .hero-section

      .hero-content

        h1
          | Descubri,
          br
          span comparti
          |  e inspírate.

        p
          | La plataforma para compartir fotografias,
          | arte e inspiración.

        a.btn.hero-btn(href="auth/register")
          | Comenzar ahora


      .hero-gallery

        img(src="/images/patroclo.jpeg")

        img(src="/images/montana.jpg")

        img(src="/images/mate.jpg")