.sidebar

  .sidebar-top

    a.logo(href="/")

      img(src="/images/fotaza-logo-1.png" width = "50px")

  .sidebar-menu

    a.sidebar-link.active(href="/")
      i.bi.bi-house-fill

    a.sidebar-link(href="#")
      i.bi.bi-collection

    a.sidebar-link(href="/usuario/publicaciones/crear")
      i.bi.bi-plus-square

    a.sidebar-link(href="#")
      i.bi.bi-bell

    a.sidebar-link(href="#")
      i.bi.bi-chat-dots

  .sidebar-bottom

    a.sidebar-link(href="#")
      i.bi.bi-gear